h1 {
  color: white;
  text-align: center;
}
.nav:hover {
  background-color: red;
  border-radius: 10px;
  height: 15px;
  }
  body {
  background-image: url(../image/3.jpg);
  background-size: cover;
}
.divBar {
  color: white;
}
.container {
  background-color: grey;
  opacity: 90%;
  color: white;
  width: 700px;
  font-size: 20px;

}
