h1 {
  color: white;
  text-align: center;
}
.nav:hover {
  background-color: red;
  border-radius: 10px;
  height: 15px;
  }
  body {
  background-image: url(../image/3.jpg);
  background-size: cover;
}
